log4j.rootLogger=INFO, A1
log4j.appender.A1=org.apache.log4j.ConsoleAppender
log4j.appender.A1.layout=org.apache.log4j.PatternLayout

# Print the date in ISO 8601 format
log4j.appender.A1.layout.ConversionPattern=%d [%t] %-5p %c{1} - %m%n

# Individual classes and packages
#log4j.logger.org.madsenlab.sim.tf.classification=DEBUG
#log4j.logger.org.madsenlab.sim.tf.test=DEBUG
#log4j.logger.org.madsenlab.sim.tf.traits=DEBUG

#log4j.logger.org.madsenlab.sim.tf.agent=INFO
#log4j.logger.org.madsenlab.sim.tf.observers=DEBUG
#log4j.logger.org.madsenlab.sim.tf.app=INFO
#log4j.logger.org.madsenlab.sim.tf.config=INFO
#log4j.logger.org.madsenlab.sim.tf.exceptions=INFO
#log4j.logger.org.madsenlab.sim.tf.interfaces=INFO
#log4j.logger.org.madsenlab.sim.tf.models=TRACE
#log4j.logger.org.madsenlab.sim.tf.population=INFO
#log4j.logger.org.madsenlab.sim.tf.rules=INFO
#log4j.logger.org.madsenlab.sim.tf.structure=INFO

#log4j.logger.org.madsenlab.sim.tf.utils=INFO
#log4j.logger.org.madsenlab.sim.tf.test.util.TraitCountAccumulatorObserver=TRACE
#log4j.logger.org.madsenlab.sim.tf.test.classification.UnstructuredClassParadigmaticClassificationTest=DEBUG




