log4j.rootLogger=TRACE, A1
log4j.appender.A1=org.apache.log4j.ConsoleAppender
log4j.appender.A1.layout=org.apache.log4j.PatternLayout

# Print the date in ISO 8601 format
log4j.appender.A1.layout.ConversionPattern=%d [%t] %-5p %c{1} - %m%n

log4j.logger.org.mmadsen.sim.tf.agent=INFO
log4j.logger.org.mmadsen.sim.tf.analysis=INFO
log4j.logger.org.mmadsen.sim.tf.app=INFO
log4j.logger.org.mmadsen.sim.tf.config=INFO
log4j.logger.org.mmadsen.sim.tf.exceptions=INFO
log4j.logger.org.mmadsen.sim.tf.interfaces=INFO
log4j.logger.org.mmadsen.sim.tf.models=TRACE
log4j.logger.org.mmadsen.sim.tf.population=INFO
log4j.logger.org.mmadsen.sim.tf.rules=INFO
log4j.logger.org.mmadsen.sim.tf.structure=INFO
log4j.logger.org.mmadsen.sim.tf.traits=INFO
log4j.logger.org.mmadsen.sim.tf.utils=INFO
log4j.logger.org.mmadsen.sim.tf.test=DEBUG
