log4j.rootLogger=INFO, A1, LOG
log4j.appender.A1=org.apache.log4j.ConsoleAppender
log4j.appender.A1.layout=org.apache.log4j.PatternLayout

# Print the date in ISO 8601 format
log4j.appender.A1.layout.ConversionPattern=%d [%t] %-5p %c{1} - %m%n

log4j.appender.LOG=org.apache.log4j.FileAppender
log4j.appender.LOG.File=${log4j.logpath}/tf.log
log4j.appender.LOG.layout.ConversionPattern=%d [%t] %-5p %c{1} - %m%n
log4j.appender.LOG.layout=org.apache.log4j.PatternLayout

#log4j.logger.org.madsenlab.sim.tf.rules=DEBUG
log4j.logger.org.madsenlab.sim.tf.population=DEBUG


#log4j.logger.org.madsenlab.sim.tf.observers=INFO
#log4j.logger.org.madsenlab.sim.tf.models=TRACE
#log4j.logger.org.madsenlab.sim.tf.traits=DEBUG
#log4j.logger.org.madsenlab.sim.tf.models.AbstractSimModel=INFO
#log4j.logger.org.madsenlab.sim.tf.observers.GlobalTraitFrequencyObserver=TRACE
#log4j.logger.org.madsenlab.sim.tf.models.SimpleMoran.SimpleMoranDriftModel=DEBUG

#log4j.logger.org.madsenlab.sim.tf.rules.InfiniteAllelesMutationRule=TRACE
#log4j.logger.org.madsenlab.sim.tf.utils.LogFileHandler=DEBUG
#log4j.logger.org.madsenlab.sim.tf.utils.Log2HistogramBinUtil=TRACE
#log4j.logger.org.madsenlab.sim.tf.rules.ConformismOrRandomDecisionRule=TRACE


#log4j.logger.org.madsenlab.sim.tf.traits.UnstructuredTrait=TRACE
#log4j.logger.org.madsenlab.sim.tf.models.MetapopulationWithMigration.MetapopulationWithMigrationModel=TRACE
#log4j.logger.org.madsenlab.sim.tf.observers.PerDemeTraitFrequencyObserver=TRACE
#log4j.logger.org.madsenlab.sim.tf.rules.CopyOrMutateDecisionRule=INFO
#log4j.logger.org.madsenlab.sim.tf.traits.UnstructuredTraitDimension=TRACE
#log4j.logger.org.madsenlab.sim.tf.population.SimpleAgentPopulation=TRACE
#log4j.logger.org.madsenlab.sim.tf.observers.TimeAveragedTraitCountObserver=TRACE
#log4j.logger.org.madsenlab.sim.tf.population.SimpleAgentPopulation=TRACE
#log4j.logger.org.madsenlab.sim.tf.population.SimpleAgentDeme=TRACE